[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openenv-sentinel = {extras = ["dev"], file = ".", editable = true}
openai = "*"
httpx = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
